
.cart-item{
    display: flex;
    padding:2em;
    margin:2rem 0;
    border: 1px solid #555;
    border-radius: 1rem;
}

.cart-item-img{
    width: 6rem;
}

.cart-item-content-container{
    padding-left: 2rem;
    padding-top: 10px;
}

.cart-item-content-container p{
    padding-top: 10px;
}


.cart-item-price {
    padding-top:10px;
    color: var(--primary-color);
    font-family: Lobster;
    font-size: 1.2rem;
}

.delete-btn{
    background-color:var(--primary-color) ;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Lobster;
    color: #fff;
}

.delete-btn:hover{
    background-color: var(--primary-color-bright);
}