.navbar-container{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 1rem 0;
}

.logo{
    font-size: 2.2rem;
    color:#fff;
    text-decoration: none;
    font-family:Lobster ;
    font-weight: 500;
}

.logo span{
    font-family:Lobster ;
}

.nav-links-container{
    display: flex;
    align-items: center;
}

.nav-links , .nav-links-dark{
    color:#fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Lobster;
    padding:8px;
    transition:0.2s ease-in;
}

.nav-links-dark{
    color:#333;
}

.nav-links:hover{
    color:var(--primary-color);
}

.nav-links-dark:hover{
    color:var(--primary-color);
}

.background-dark {
    background-color: #333;
}

.background-transparent{
    background-color: transparent;
}

.relative{
    position: relative;
}